@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

* {
  box-sizing: broder-box;
  font-family: "Rubik", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}
